.animation{
    display: flex;
    justify-content: center;
    img{
        width: 100px;
        height: 100px;
        justify-content: center;
        box-shadow: 0px 2px 15px;
        color: $color__principal;
        animation: caution 2s ease 1s 1 normal forwards;
    }
}
.animation__text{
    padding-top: 10px;
    text-align: center;
    
}
.background__redes {
	background-color: rgba(144, 142, 142, 0.773);
	border: solid 2px $color__principal;
	box-shadow: 5px 5px 10px;
	margin-left: 10px;
	margin-right:30px;
	margin-top: 10px;
	margin-bottom: 10px;

}	
.form__card{
	display: flex;
	margin-bottom: 5px;
	justify-content: center;
	form{
		background-color: black;
		border-top:solid 2px $color__principal ;
		border-bottom:solid  2px $color__principal ;
		border-right: solid 2px $color__principal;
		border-left: 0px $color__principal;
		width: 250px;

	}
	span{
		background-color: black;
		border-top:solid 2px $color__principal ;
		border-bottom:solid  2px $color__principal ;
		border-right:  2px $color__principal;
		border-left:solid 2px $color__principal;
		width: 250px;

	}
}

@keyframes caution {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}