.animation{
    display: flex;
    justify-content: center;
    img{
        width: 100px;
        height: 100px;
        justify-content: center;
        box-shadow: 0px 2px 15px;
        color: $color__principal;
        animation: caution 2s ease 1s 1 normal forwards;
    }
}
.animation__text{
    padding-top: 10px;
    text-align: center;
    
}

@keyframes caution {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}