footer {
    background-color: black;
    background-clip: border-box;
    box-shadow: inset -5px 3px 10px 1px  rgba(217, 1, 1, 0.689);
    h2{
        padding-top: 10px;
        color: rgba(255, 255, 255, 0.964);
    }
}
.spanh{
    font-size: 100%;
    color: rgba(176, 2, 2, 0.854);
    font-family: 'Smooch', cursive;
}