
/*variables*/
$color__principal: rgba(174, 2, 2, 0.767);

/*aplique general*/
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Fjalla One', sans-serif;
    list-style-type: none;
}

h1 {
    padding-top: 10px;
    text-align: center;
    font-family: 'Smooch', cursive; ;
    
}
    .spanh{
        color:  $color__principal;
        font-family: 'Smooch', cursive;
        font-size:110% ;
    }

h6 {
    text-align: center;
    color:  $color__principal;

    
}
header{
    box-shadow: 0px 2px 10px;
    color: $color__principal;

}
